* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.app-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header-container-mobile {
    width: 100vw;
    height: 90px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 16px 1px rgba(225, 230, 242, 1);
}

.header-container-desktop {
    width: 100vw;
    height: 100px;
    padding: 5px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    box-shadow: 0px 8px 16px 1px rgba(225, 230, 242, 1);
}

.logo-mobile {
    height: 36px;
    width: 120px;
}

.logo-desktop {
    height: 42px;
    width: 156px;
}

.menu-icon-mobile {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.navbar-container-desktop {
    margin-left: auto;
}

.navitems-container-desktop {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
}

.navitem-desktop {
    color: #403e3b;
    font-size: 16px;
    font-weight:600;
    letter-spacing: -0.2;
    margin-left: 36px;
    cursor:pointer;
}

.navitem-button {
    color: #fafafa;
    font-size: 16px;
    background-color: #3f6cf2;
    border-radius: 6px;
    cursor:pointer;
    outline: none;
    height: 36px;
    padding: 4px 24px;
    margin-left: 32px;
    border: 0px;
}