* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#root {
    background-color: #dfe2ed;
}

.app-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header-container-mobile {
    background-color: white;
    width: 100vw;
    height: 90px;
    padding: 10px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 16px 1px rgba(225, 230, 242, 1);
}

.header-container-desktop {
    background-color: white;
    width: 100vw;
    height: 100px;
    padding: 5px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    box-shadow: 0px 8px 16px 1px rgba(225, 230, 242, 1);
}

.logo-mobile {
    height: 36px;
    width: 120px;
}

.logo-desktop {
    height: 42px;
    width: 156px;
}

.menu-icon-mobile {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.navbar-container-desktop {
    margin-left: auto;
}

.navitems-container-desktop {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
}

.navitem-desktop {
    color: #403e3b;
    font-size: 16px;
    font-weight:600;
    letter-spacing: -0.2;
    margin-left: 36px;
    cursor:pointer;
}

.navitem-button {
    color: #fafafa;
    font-size: 16px;
    background-color: #3f6cf2;
    border-radius: 6px;
    cursor:pointer;
    outline: none;
    height: 36px;
    padding: 4px 24px;
    margin-left: 32px;
    border: 0px;
}

.body-container-mobile {
    background-color: #dfe2ed;
    min-height: 90vh;
    padding: 24px 16px 0px 16px;
}

.body-container-desktop {
    background-color: #dae0f0;
    min-height: 90vh;
    padding: 16px 80px 0px 80px;
}

.navigator-currency-title-mobile {
    color: grey;
}

.navigator-currency-title-desktop {
    color: grey;
}

.navigator-currency-name-mobile {
    color: black;
    font-weight: 600;
}

.navigator-currency-name-desktop {
    color: black;
    font-weight: 600;
}

.body-content-container-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.body-content-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.body-primary-content-container-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 68%;
}

.body-secondary-content-container-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.currency-details-container-desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    margin: 20px 0px;
}

.currency-basic-details-container-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.currency-details-logo-desktop {
    height: 36px;
    width: 36px;
}

.currency-details-name-desktop {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.8;
    margin: 0px 8px;
}

.currency-details-symbol-desktop {
    font-size: 16px;
    color: grey;
    font-weight: 600;
}

.currency-details-rank-desktop {
    height: 42px;
    width: 78px;
    background-color: #515251;
    color: #dfe2ed;
    font-size:16px;
    border-radius: 4px;
    text-align: center;
    padding: 12px 8px;
    margin-left: 36px;
}

.currency-details-container-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    margin: 10px 0px;
}

.currency-basic-details-container-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    margin: 16px 0px;
}

.currency-details-logo-mobile {
    height: 32px;
    width: 32px;
}

.currency-details-name-mobile {
    font-weight: 600;
    font-size: 18px;
    margin: 0px 8px;
}

.currency-details-symbol-mobile {
    font-size: 14px;
    color: grey;
    font-weight: 600;
}

.currency-details-rank-mobile {
    height: 32px;
    width: 78px;
    background-color: #6c6d6c;
    color: white;
    font-size:15px;
    border-radius: 4px;
    text-align: center;
    padding: 8px 4px;
    margin-left: 36px;
}

.currency-price-details-container-desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 18px 0px;
    margin: 4px 0px;
}

.currency-price-container-desktop {
    margin-right: 28px;
}

.currency-price-down-change {
    background-color: #f5bfb8;
    color: #d4311c;
    height: 32px;
    width: 72px;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
    margin-right: 16px;
}

.currency-price-up-change {
    background-color: #d7fad9;
    color: #2b8730;
    height: 32px;
    width: 72px;
    font-size: 16px;
    font-weight:600;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    margin-right: 16px;
}

.currency-inr {
    font-size: 16px;
    margin: 4px 0px;
}

.currency-price-change-duration {
    color:#515251;
    font-weight: bold;
    opacity: 0.8;
    margin-top: 8px;
}

.currency-price-details-container-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 0px;
    margin: 4px 0px;
}

.currency-price-container-mobile {
    margin-right: 28px;
}

.currency-inr-mobile {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
    margin-top: 1px;
}

.currency-chart-header-container-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.currency-chart-header-content-container-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 24px 0px;
}

.chart-widget-container-desktop {
    min-height: 420px;
    width: 100%;
    margin-bottom: 10px;
}

.duration-desktop {
    font-size: 14px;
    background-color: transparent;
    border: none;
    margin-left: 4px;
    padding: 3px 9px;
}

.selected-duration-desktop {
    background-color: #c2cff6;
    color:#1045e1;
    border-radius: 10px;
    font-weight: bold;
}

.currency-chart-header-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 16px;
}

.separator {
    border: 1.25px solid #dde0dd;
    margin: 12px 0px;
}

.currency-chart-header-content-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 24px 0px;
}

.chart-widget-container-mobile {
    height: 250px;
    width: 100%;
    margin-bottom: 10px;
}

.chart-heading-mobile {
    margin-bottom: 8px;
    font-size: 18px;
}

.duration-mobile {
    font-size: 12px;
    background-color: transparent;
    border: none;
    margin-right: 4px;
    padding: 3px 6px 3px 0px;
}

.selected-duration-mobile {
    background-color: #c2cff6;
    color:#1045e1;
    border-radius: 10px;
    font-weight: bold;
}

.get-started-container-mobile {
    background-color: #0f4afc;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 16px;
    padding: 24px;
    color: white;
    max-width: 100%;
    margin: 24px 0px;
    flex-shrink: 1;
}

.get-started-image-mobile {
    height: 120px;
    width: 120px;
}

.get-started-heading-mobile {
    font-size: 24px;
    padding: 16px 0px;
    text-align: center;
}

.get-started-description-mobile {
    text-align: center;
    line-height: 18px;
    padding: 16px 8px;
}

.get-started-btn-mobile {
    background-color: white;
    color: black;
    border-radius: 8px;
    outline: none;
    padding: 12px 38px;
    cursor: pointer;
    font-weight: 600;
    border: 0px;
    font-size: 16px;
    margin: 12px 0px;
}

.get-started-container-desktop {
    background-color: #0f4afc;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 16px;
    padding: 24px;
    color: white;
    width: 100%;
    min-height: 520px;
    margin: 24px 0px;
}

.get-started-image-desktop {
    height: 150px;
    width: 150px;
    margin: 12px 0px;
    flex-grow: 1;
}

.get-started-heading-desktop {
    font-size: 20px;
    padding: 12px 0px;
    text-align: center;
    max-width: 60%;
    line-height: 36px;
    flex-grow: 1;
}

.get-started-description-desktop {
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    padding: 6px 8px;
    max-width: 70%;
    flex-grow: 1;
}

.get-started-btn-desktop {
    background-color: white;
    color: black;
    border-radius: 8px;
    outline: none;
    padding: 12px 38px;
    cursor: pointer;
    font-weight: 600;
    border: 0px;
    font-size: 14px;
    margin: 12px 0px;
    flex-grow: 1;
}

.trending-coins-section-container-mobile {
    width: 100vw;
    padding: 28px 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.trending-coins-section-title-mobile {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 8px;
}

.trending-coin-details-container-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 14px 4px;
    width: 100%;
}

.trending-coin-image-mobile {
    height: 28px;
    width: 28px;
    margin-right: 8px;
}

.trending-coin-name-mobile {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
}

.trending-coin-trend-container-mobile {
    align-self: flex-end;
    background-color: #d7fad9;
    color: #2b8730;
    height: 32px;
    width: 96px;
    font-size: 16px;
    font-weight:600;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    margin-left: auto;
}

.trending-coin-trend-down-container-mobile {
    background-color: #f5bfb8;
    color: #d4311c;
    height: 32px;
    width: 96px;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
    margin-left: auto;
}

.trending-coins-section-container-desktop {
    width: 100%;
    padding: 28px 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: white;
    border-radius: 8px;
}

.trending-coins-section-title-desktop {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 8px;
    letter-spacing: -0.9;
}

.trending-coin-details-container-desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 14px 4px 0px 4px;
    width: 100%;   
}

.trending-coin-image-desktop {
    height: 26px;
    width: 26px;
    margin-right: 8px;
}

.trending-coin-name-desktop {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
}


.team-section-container-desktop {
    width:100%;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.team-section-description {
    margin: 14px 0px;
    font-weight:bold;
    opacity: 0.7;
    line-height: 26px;
}

.team-member-container-desktop {
    background-color: #dcecf7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0px;
    border-radius: 8px;
}

.team-member-profile-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    text-align: center;
    padding: 10px 24px;
}

.team-member-profile-pic {
    height: 120px;
    width: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.team-member-name {
    font-weight: bold;
    font-size: 16px;
    margin: 8px 0px 4px 0px;
    letter-spacing: -0.9;
}

.team-member-designation {
    color: grey;
    font-size: 12px;
    font-weight: bold;
}

.team-member-profile-description-container-desktop {
    padding: 0px 12px;
    line-height: 24px;
    font-size: 15px;
}

.team-section-container-mobile {
    width:100%;
    background-color: white;
    padding: 16px 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.team-member-container-mobile {
    background-color: #dcecf7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0px;
    border-radius: 8px;
    padding-bottom: 14px;
}

.team-member-profile-description-container-mobile {
    padding: 0px 12px;
    line-height: 22px;
    font-size: 15px;
} 

.about-section-container-mobile {
    width:100%;
    background-color: white;
    padding: 16px 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 18px;
}

.about-section-container-desktop {
    width:100%;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 18px;
    font-family: "Roboto";
}

.about-section-item-title {
    font-size: 20px;
    font-weight: bolder;
    margin: 12px 0px;
    letter-spacing: -0.9;
}

.about-section-item-description {
    font-size: 16px;
    font-weight: bold;
    opacity: 0.6;
    line-height: 24px;
}

.about-footer-section-heading-mobile {
    margin: 14px 0px;
    letter-spacing: -0.9;
    opacity: 0.9;
}

.about-footer-section-heading-desktop {
    margin: 16px 0px;
    letter-spacing: -0.9;
    opacity: 0.9;
}

.about-footer-calculate-cards-container-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.about-footer-calculate-cards-container-desktop {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    min-width: 90%;
    justify-content: space-between
}

.calculation-card-container-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 8px;
    margin-top: 16px;
    align-items: center;
}

.calculation-card-container-desktop {
    width: 48%;
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    align-items: center;
}

.card-image-container {
    height: 130px;
    width: 140px;
    border-radius: 8px;
}

.calculate-card-image {
    border-radius: 8px;
    height: 130px;
    width: 140px;
    object-fit: cover;
}

.profit-card {
    background: linear-gradient(to left top, #0698c4, #78c0f0, #9cf598);
}

.tax-card {
    background: linear-gradient(to left top, #c44623 ,#f38d71)
}

.card-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6px 24px;
    height: 130px;
}

.card-title {
    color: white;
}

.card-btn {
    width: 140px;
    border: 0px;
    outline: none;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 4px 18px;
    border-radius: 8px;
    letter-spacing: -0.9;
}

.tokenomics-section-container {
    width:100%;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 18px;
}

.tokenomics-distribution-container {
    margin: 24px 0px;
}

.tokenomics-distribution-image-container {
    height: 240px;
    width: 380px;
    margin: 20px 0px;
}

.tokenomics-section-image {
    height: 240px;
    width: 380px;
    object-fit: cover;
}

.tokenomics-description {
    font-weight: 600;
    line-height: 26px;
    opacity: 0.6;
}